{% extends "layout.njk" %}

{% block head %}
    <title>Error | Naruto Uzumaki</title>
    <link rel="stylesheet" href="error.css">
    <link rel="stylesheet" href="style.css">
{% endblock %}

{% block content %}

    <h1>Erro - Não foi possível encontrar essa página</h1>

{% endblock %}

